.footer {
	&__h5 {
		color: white;
		font-family: $font-1;
		font-size: 2.2rem;
	}

	&__p {
		color: white;
		font-family: $font-1;
		font-size: 1.7rem;
		font-weight: 300;
		// text-align: justify;
	}

	&__li {
		color: white;
		font-family: $font-1;
		font-size: 1.6rem;
		font-weight: 300;
	}

	&__copyright {
		color: white;
		font-family: $font-1;
		font-size: 1.3rem;
		font-weight: 300;
		text-align: center;
	}
}
