// fonts family
$font-1: 'Roboto', sans-serif;
$font-2: 'Poppins', sans-serif;

// colors
$color-primary: #77b7ff;
$color-primary2: #0075f6;
$color-primary3: #999;
$color-primary4: #f8f9fa;
$color-primary5: #65e973;
$color-primary6: #505050;
$color-primary7: #8d8d8d;
